html,body{
    /* padding: 0px; */
    margin: 0px;
    font-size: 12px;
    font-family:  Helvetica;
    /* background-color:rgb(230,230,230); */
    background-color: white;
}
.header{
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: space-between;
    /* border:1px solid red; */
    align-items: center;
    padding: 20px;
    /* min-height: 60px; */
}
/* .menu{
   
} */
.content{
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap:inherit;
    flex: 1;  
    /* border: 1px solid red; */
}
.header .logo{
    text-align: center;
    padding-left: 80px;
}
.fas,.far,.fa{
    font-size:28px;
    margin-right: 5px;
    color: black;
}

.menu{
    display: flex;
    padding: 20px;
    
}
.menu ul{
    list-style-type: none;
    background-color: white;
   
}
.menu ul li{
    text-align: center;
}
/* .menu ul .Account{
    padding-right: 30px;
} */

.menu :hover{
    /* background-color: teal; */
    color: teal;
}
.home-icon{
    text-decoration: none;
    color: black;
}
/* .home-icon1{
    color: white;
} */
/* .teal{
    background-color: rgb(25,57,72)!important;
    border: none;
    float: left; */
    /* padding: 2px 39px; */
/* } */
/* .home, .teal{
    padding: 2px 34px;
} */
/* .home{
    border: none;
    float: left; */
    /* padding: 2px 39px; */
    /* background-color: white; 
} */
/* .home:hover{
    background-color:#009688 !important; */
    /* color: white; */
/* } */
/* .home-icon{
    text-decoration: none;
    color: black;
    margin: 5px;
}
.icon-p{
    margin: 0px;
} */
/*------------------ empieza primera vista  */
.portafolio{
    padding: 20px;
}

.rows{
    display: flex;
}
.smart{
width: 30%;
text-align: center;
padding: 20px;
border-right: 1px solid rgb(166, 166, 166);
}
/* .smart-filt{
    border-bottom: 1px solid rgb(166, 166, 166);
} */
hr{
    opacity: 0.2;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    /* background-color: rgb(25,57,72); */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .sale-div{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  .delivered{
    padding: 10px;
    border-radius: 4px;
   text-align: center;
    border: 0px;
    border: 1px solid rgb(204,204,204);
    background-color: white;
    cursor: pointer;
}

 /*---- contenido de la primera vista  */
.add{
    flex: 70%;
    padding: 20px;
    position: relative;
    /* border: 1px solid red; */
}
.add-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buscar{
    padding: 10px;
    border-radius: 4px;
   text-align: center;
    border: 0px;
    border: 1px solid rgb(204,204,204);
    /* background-color: white; */
    /* color: rgb(159,159,159); */
}

.add-rows-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-buscar{
    position: relative;
}

.fa-sistrix{
    position: absolute;
    padding: 10px;
    left: 0px;
    margin-left: 45px;
    color: rgb(159,159,159);
    font-size: 18px;
    
}
/*------------------------- contenido de la segunda vista  */
.add-rows-content{
    /* background-color: white; */
    border: 1px solid gray;
    /* border:1px solid rgb(221, 221, 221); */
    border-radius: 24px;
    display: flex;
    /* padding: 20px; */
    width: 85%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
/*------------------------- contenido de monday */
.monday,.houston{
    /* padding: 10px; */
    border-right: 1px solid rgb(221, 221, 221);
}
/*------------- esto es de houston------ */
.houston{
    display: flex;
    align-items: center;
    padding: 10px;
}
ol{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.fa-chevron-down{
    color: rgb(234,167,93);
    font-size: 24px;
}
.fa-location-arrow{
    color: rgb(159,159,159);
}

/* -------------------- css del caro-------------- */
.carro{
    /* padding: 10px; */
    display: flex;
    align-items: center;
}
.closebtn{
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button-li{
    border: 0px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
}
.fa-check-circle{
    color: rgb(238,141,56);
    font-size: 48px;
}
.color-letra-m{
    /* color: rgb(159,159,159); */
    padding: 10px;
}
.color-letra,.fa-ellipsis-v{
    /* color: rgb(159,159,159); */
    margin: 0px;
}
.fa-ellipsis-v{
    padding: 10px;
}

.fa-truck{
    font-size:48px;
    color: rgb(159,159,159);
    padding: 10px;
}
.color-letra-d{
    /* color: rgb(159,159,159); */
    margin: 0px;
    padding: 10px;
    font-size: 20px !important;
}
.fa-ellipsis-v{
    font-size: 15px;
}
.fa-plus-circle{
    position: absolute;
    right: 0px;
    font-size: 48px;
}
@media screen and (max-width: 767px){
     body{
         /* border: 1px solid red; */

    }
 .smart{
     display: none;
 }
 .add{
     flex:0px;
     padding: 0px;
     text-align: center;
 }
 .add-search{
     display: inherit;
     
 }
 .fa-check-circle{
     display: none;
 }
 .menu{
     padding: 0px;
 }
 .menu ul{
     padding: 5px;
     
 }
 .header .logo{
     padding: 0px;
     margin: 0px;
 }
 .color-letra-m,
 .portafolio,
 .houston,
 .fa-truck{
     padding: 0px;
 }
.icon-buscar{
    text-align: center;
}
 .fa-sistrix{
     margin-left: 120px;
 }
 .closebtn{
     margin-bottom: 45px;
     font-size: 24px;
     margin-right: 10px;

 }
}


