<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mockup</title>
</head>
<body ng-app="app" ng-controller="controlador">
  <header class="header">
      <div class="content">
          <figure class="logo">
              <img class="img-logo" src="img/logo.png" alt="logo" width="73px;">
           </figure>
           <nav class="menu">
              <!-- <button class="teal"> -->
                <ul>
                  <li>
                      <a class="home-icon" href="#home"><i class='fas fa-home'></i>
                        <br>
                        Home
                      </a>
                     
                      <!-- <p class="icon-p">Home</p> -->
                  </li>
                    
                </ul>
                  
              <!-- </button> -->
              <!-- <button class="home"> -->
                <ul>
                  <li>
                      <a class="home-icon" href="#home"><i class='far fa-envelope'></i>
                        <br>
                        Messages
                      </a>
                      <!-- <p class="icon-p">Messages</p> -->
                  </li>
                </ul>
                 
              <!-- </button> -->
              <!-- <button class="home"> -->
                <ul>
                  <li>
                      <a class="home-icon" href="#home"><i class="fa fa-star"></i>
                        <br>
                        Wishlist
                      </a>
                      <!-- <p class="icon-p">Wishlist</p> -->
                  </li>
                </ul>
                  
              <!-- </button> -->
              <!-- <button class="home"> -->
                <ul>
                  <li>
                      <a class="home-icon" href="#home"><i class="fa fa-cog"></i>
                      <br>
                      Settings
                    </a>
                      <!-- <p class="icon-p">Settings</p> -->
                  </li>
                </ul>
                  
              <!-- </button> -->
              <!-- <button class="home"> -->
                <ul>
                  <li class="Account">
                      <a class="home-icon" href="#home"><i class='far fa-user' onclick="document.getElementById('registro').style.display='block'"></i>
                        <br>
                        My Account
                      </a>
                      <!-- <p class="icon-p">My Account</p> -->
                  </li>
                </ul>
                  
              <!-- </button> -->
           </nav>
        </div>

  </header>

  <section class="portafolio">
    <div class="content">
      <div class="rows">
        <div class="smart">
          <p class="smart-filt">Smart Filters</p>
          <hr>
          <div class="sale-div">
              <i class='fas fa-certificate' style='font-size:40px'></i>
              
             
              <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                  </label>
          </div>
          <div class="sale-div">
      
              <i class="fa fa-calendar-check-o" style="font-size:40px"></i>
               
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                    </label>
            </div>
            <div class="sale-div">
      
                <i class='far fa-heart' style='font-size:40px'></i>
             
              <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                  </label>
          </div>
          <hr>
          <p>Status</p>
          <div class="icon-buscar">
              <i class='fab fa-sistrix'></i>
              <input class="buscar" type="text" placeholder="Search" ng-model="buscarS"> 
          </div> 
          <br>
          <input class="delivered" type="button" value="DELIVERED">
          </div>
<!-- empieza la segunda vista -->
        <div class="add">
          <div class="add-search">
            <div>
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="icon-buscar">
                <i class='fab fa-sistrix'></i>
                <input class="buscar" type="text" placeholder="Search" ng-model="buscar"> 
            </div>  
          </div>
          <!--  empieza 2 div -->
          <div class="add-rows-one ">
              <div>
                  <i class="fa fa-check-circle"></i>
              </div>
              <div class="add-rows-content">
                  <div class="monday">
                    <p class="color-letra-m">Monday 10 2:26 pm</p>
                  </div>
                  <div class="houston">
                    <div>
                        <i class='fas fa-location-arrow' style='font-size:24px'></i>
                    </div>
                    <ol>
                      <li>
                        <p class="color-letra">Houston, TX, 33619</p> 
                      </li>
                      <li>
                          <i class='fas fa-chevron-down'></i>
                      </li>
                      <li>
                        <p class="color-letra">Atlanta, GA, 30123</p>
                        
                      </li>
                    </ol>
                 
                  </div>
                  <div class="carro">
                      <div><i class='fa fa-truck'></i></div>
                      <div><p class="color-letra-d">$250.00</p></div>
                      <div><button class="button-li">1</button></div>
                      <div><i class='fas fa-ellipsis-v'></i></div>
                  </div>
              </div>  
              <span cerrar-div  class="closebtn">&times;</span> 

          </div>  
          <!-- empieza 3 div -->
          <div class="add-rows-one">
              <div>
                  <i class="fa fa-check-circle"></i>
              </div>
              <div class="add-rows-content">
                  <div class="monday">
                    <p class="color-letra-m">Monday 10 2:26 pm</p>
                  </div>
                  <div class="houston">
                    <div>
                        <i class='fas fa-location-arrow' style='font-size:24px'></i>
                    </div>
                    <ol>
                      <li>
                        <p class="color-letra">Houston, TX, 33619</p> 
                      </li>
                      <li>
                          <i class='fas fa-chevron-down'></i>
                      </li>
                      <li>
                        <p class="color-letra">Atlanta, GA, 30123</p>
                        
                      </li>
                    </ol>
                 
                  </div>
                  <div class="carro">
                      <div><i class='fa fa-truck'></i></div>
                      <div><p class="color-letra-d">$250.00</p></div>
                      <div><button class="button-li">1</button></div>
                      <div><i class='fas fa-ellipsis-v'></i></div>
                  </div>
                  
              </div> 
              <span cerrar-div  class="closebtn">&times;</span>  
          </div>
          <!-- empieza 4 div -->

          <div class="add-rows-one">
              <div>
                  <i class="fa fa-check-circle"></i>
              </div>
              <div class="add-rows-content">
                  <div class="monday">
                    <p class="color-letra-m">Monday 10 2:26 pm</p>
                  </div>
                  <div class="houston">
                    <div>
                        <i class='fas fa-location-arrow' style='font-size:24px'></i>
                    </div>
                    <ol>
                      <li>
                        <p class="color-letra">Houston, TX, 33619</p> 
                      </li>
                      <li>
                          <i class='fas fa-chevron-down'></i>
                      </li>
                      <li>
                        <p class="color-letra">Atlanta, GA, 30123</p>
                        
                      </li>
                    </ol>
                 
                  </div>
                  <div class="carro">
                      <div><i class="fa fa-truck"></i></div>
                      <div><p class="color-letra-d">$250.00</p></div>
                      <div><button class="button-li">1</button></div>
                      <div><i class='fas fa-ellipsis-v'></i></div>
                  </div>
              </div>  
              <span cerrar-div class="closebtn">&times;</span> 

          </div>
          <div id="demo">
          </div>
          <i agregar-datos class='fas fa-plus-circle'></i>
    
        </div>
      </div>
    </div>
  </section> 

  <section>
    <div id="registro" class="modal">
      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('registro').style.display='none'"
          class="close"> &times;</span>
          <img class="avatar" src="img/avatar.png" alt="avatar">
        </div>
        <div class="container">
          <label><b>Nombre</b></label>
          <input class="textNP" type="text" placeholder="Enter Username" name="uname" ng-model="uname"required>

          <label><b>Contraseña</b></label>
          <input class="textNP" type="text" placeholder="Enter Password"  name="psw" ng-model="psw" required>
          <button class="login" type="submit">Login</button>
          <label>
              <input type="checkbox" checked="checked" name="remember" > Recordarme
          </label>
        </div>
        
        <div class="container" style="background-color:#f1f1f1">
          <button class="cancelbtn" onclick="document.getElementById('registro').style.display='none'">Cancelar</button>
          

        </div>
      </form>
      
    </div>
  </section>


  <script>
    
angular.module('app',[])
var app = angular.module('app')

app.controller('controlador',function($scope){
   $scope.console = function(){
   }
})

app.directive("cerrarDiv", function($compile){
 return function(scope, element, attrs){
 element.bind("click", function(){
  var div = this.parentElement;
  div.style.opacity = "0";
  setTimeout(function(){ div.style.display = "none"; }, 600);

 });
 };
});
 

app.directive("agregarDatos", function($compile){
 return function(scope, element, attrs){
 element.bind("click", function(){
 angular.element(document.getElementById('demo')).append($compile("<div class='add-rows-one'><div><i class='fa fa-check-circle'></i></div><div class='add-rows-content'><div class='monday'><p class='color-letra-m'>Monday 10 2:26 pm</p></div><div class='houston'><div><i class='fas fa-location-arrow' style='font-size:24px'></i></div><ol><li><p class='color-letra'>Houston, TX, 33619</p></li><li><i class='fas fa-chevron-down'></i></li><li><p class='color-letra'>Atlanta, GA, 30123</p></li></ol></div><div class='carro'><div><i class='fa fa-truck'></i></div><div><p class='color-letra-d'>$250.00</p></div><div><button class='button-li'>1</button></div><div><i class='fas fa-ellipsis-v'></i></div></div></div><span cerrar-div  class='closebtn'>&times;</span> </div>")(scope));
 });
 };
});

app.directive('doAutoClick',['$timeout',
  function($timeout) {
    return {
      restrict: 'A',
      priority: -1,
      link: function($scope, iElm, iAttrs, controller) {
        
        $timeout(function(){
          iElm.triggerHandler('click'); 
        },500)  
      }
    };
  }
]);
      
 </script>
</body>
</html>